<div class="submit">
  <h1 class="submit__heading">Submit</h1>
  <form name="screencastForm" novalidate ng-submit="submit()" id="submit-form">

    <div class="error" ng-show="error">
      <p class="error__text">{{error}}</p>
    </div>

    <md-input-container>
      <label>YouTube Url:</label>
      <input type="text" name="url" required youtube-url ng-model="screencast.url">
      <div ng-messages="screencastForm.url.$error" ng-if="screencastForm.$submitted || screencastForm.url.$touched">
        <p ng-message="required">This field is required, bro.</p>
        <p ng-message="youtubeUrl">Please enter a valid YouTube url.</p>
      </div>
    </md-input-container>

    <md-input-container>
      <label>Tags (comma seperated, max of 5)</label>
      <input type="text" name="tags" required tags ng-model="screencast.tags">
      <div ng-messages="screencastForm.tags.$error" ng-if="screencastForm.$submitted || screencastForm.tags.$touched">
        <p ng-message="required">This field is required, bro.</p>
        <p ng-message="tooManyTags">You can only specify 5 tags.</p>
      </div>
    </md-input-container>

    <div>
      <md-button class="submit__btn">
        <md-icon>
          <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M14 10H2v2h12v-2zm0-4H2v2h12V6zm4 8v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zM2 16h8v-2H2v2z"/>
          </svg>
        </md-icon>
        Submit
      </md-button>
    </div>

  </form>


</div>
