html {
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: $font-family;
  background-color: $bg-color;
}

.container {
  max-width: $container-width;
  background-color: $color-white;
  margin: 0 auto;
  display: flex;
}

.md-button {
  border-radius: 0;
  text-transform: none;
  font-family: 'Roboto Mono';
  font-size: .8em !important;
}

::-moz-selection {
  background-color: $color-accent;
}

::selection {
  background-color: $color-accent;
}
