*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color;
}

::-moz-selection {
  background-color: $accent-color;
}

::selection {
  background-color: $accent-color;
}

.container {
  @include container;
  background-color: white;
  display: flex;
  @media only screen and (max-width: 670px) {
    flex-direction: column-reverse;
  }
}
