body {
  font-family: $font-family;
  background-color: $bg-color;
}

.container {
  max-width: $container-width;
  background-color: $color-white;
  margin: 0 auto;
  display: flex;
}

.md-button {
  border-radius: 0;
  text-transform: none;
}

::-moz-selection {
  background-color: $color-accent;
}

::selection {
  background-color: $color-accent;
}
