.material-icons {
  color: $icon-color;
}

a.md-button,
.md-button,
.md-button {
  border-radius: 0;
  text-transform: none;
  font-family: inherit;
  font-size: .8em !important;
  margin: 0;
}
