$container-width: 1200px;
$medium-container-width: 600px;
$color-accent: tomato;
$color-white: white;
$color-gray: #e5e5e5;
$font-family: 'Roboto', sans-serif;
$tag-font-size: 14px;
$tag-color: #58585B;
$tag-bg-color: #F0F0F0;
$bg-color: #eceef1;
