$font-family: 'Lato', sans-serif;

$primary-color-dark:   #689F38;
$primary-color:        #8BC34A;
$primary-color-light:  #DCEDC8;
$primary-color-text:   #212121;
$accent-color:         #CDDC39;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;
