$container-width: 1100px;
$hero-background: url('../img/pattern.png') repeat;
$button-background: white;
$hero-foreground-color: white;
$container-padding: 16px;

$divider-color: #E0E0E0;


$medium-container-width: 600px;
$color-accent: white;
$color-white: white;
$color-gray: #e5e5e5;
$font-family: 'Roboto Mono';
$tag-font-size: 14px;
$tag-color: #58585B;
$tag-bg-color: #F0F0F0;
$bg-color: #eceef1;
