.about-dialog-toolbar {
  background-color: $accent-color;
  &__tools {
    display: flex;
    flex-direction: row;
  }
  &__header {
    margin-bottom: 0;
    padding: 10px;
    font-size: 1.4em;
    color: white;
  }
  &__close-btn {
    margin-left: auto;
  }
}
.about-dialog {
  border-radius: 0;
  &__para {
    margin-bottom: 16px;
  }
  &__link {
    font-weight: 700;
    &:hover {
      // move to global?
      color: $accent-color;
    }
  }
}
