.about {
  padding: 20px;
  text-align: justify;
  max-width: 450px;
  font-size: 0.9em;
  &__logo {
    @include logo;
    font-size: 1.8em;
    margin-bottom: 24px;
    text-align: center;
    color: $accent-color;
  }
  &__heading {
    margin-bottom: 16px;
    font-size: 1.6em;
  }
  &__paragraph {
    margin-bottom: 16px;
  }
  &__link {
    font-weight: 700;
    &:hover {
      // move to global?
      color: $accent-color;
    }
  }
  &__foo {
    color: $accent-color;
  }
  &__list {
    margin-bottom: 16px;
  }
  &__list-item {
    list-style: circle;
    margin-left: 20px;
    &--bad {
      color: #EF5350 ;
    }
    &--good {
      color: #4CAF50;
    }
  }
}
