
.advert {
  $twitter-blue: #00aced;
  $off-white: #ebf0f0;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 960px) {
    flex-direction: column;
  }

  margin: 20px 10px 20px 10px;
  padding: 10px;

  ::-moz-selection,
  ::selection {
    color: black;
    background-color: $off-white;
  }

  &--twitter {
    color: $off-white;
    background-color: $twitter-blue;
  }

  &__desc {
    font-family: "Clear Sans";
    font-size: 0.9em;
  }
  .twitter-follow-button {
    margin-left: auto;
    @media only screen and (max-width: 960px) {
      margin: 10px 0;
    }
  }
}
