.footer {
  padding: 40px 0;
  margin: 0 auto;
  max-width: $container-width;
  display: flex;
  justify-content: space-between;
  flex-flow: row-reverse;
  &:hover {
    .footer__text {
      color: #3e4551;
    }
    .footer__logo {
      color: #3e4551;
      border-color: #3e4551;
    }
    .footer__colophon {
      border-color: #3e4551;
    }
  }

  &__logo {
    transition: border-color 1s ease, color 1s ease;
    font-size: 1.3em;
    font-weight: 400;
    color: lighten(#3e4551, 52);
    border: 2px lighten(#3e4551, 52) solid;
    padding: 10px 15px;
    display: inline;
    height: 100%;
  }

  &__colophon {
    transition: border-color 1s ease;
    width: $container-width / 2;
    border-left: 2px lighten(#3e4551, 52) solid;
    padding: 10px 16px;
  }

  &__text {
    transition: color 1s ease;
    padding-bottom: 10px;
    color: lighten(#3e4551, 50);
    font-size: 0.9em;
    margin: 0;
  }
  &__link {
    text-decoration: none;
    font-weight: 700;
    color: inherit;
    &:hover {
      color: green;
    }
  }
}
