.footer {
  padding: 15px 0;
  margin: 0 auto;
  max-width: $container-width;
  &__text {
    padding-bottom: 10px;
    color: #3e4551;
    font-size: 0.9em;
  }
  &__link {
    text-decoration: none;
    font-weight: 500;
    color: inherit;
    &:hover {
      color: $color-accent;
    }
  }
}
