.hero {
  @include container;
  overflow: hidden;
  border-top: 5px solid $accent-color;
  background: linear-gradient(45deg, $very-dark-accent-color 10%, $accent-color 90%);
  animation: move-around 10s ease infinite;
  background-size: 200% 100%;
  padding: 0 25px;
  .header {
    display: flex;
    align-items: center;
    padding: 20px 0;
    @media only screen and (max-width: 370px) {
      flex-direction: column;
    }
    &__logo {
      @include logo;
      border-color: $hero-foreground-color;
      color: $hero-foreground-color;
      &:hover {
        opacity: .5;
      }
    }
    &__submit-btn {
      margin-left: auto;
      background: $button-background;
      @media only screen and (max-width: 370px) {
        margin-left: 0;
        margin-top: 15px;
      }
      &:hover {
        background-color: $button-hover-background !important;
      }
    }
  }
  &__tagline {
    padding-top: 10px;
    padding-bottom: 40px;
    font: $tagline-font;
    letter-spacing: .8px;
    line-height: 1.35em;
    text-align: center;
    color: $hero-foreground-color;
    max-width: 650px;
    margin: 0 auto;
    @media only screen and (max-width: 715px) {
      font-size: 1.5em;
    }
  }
  &__discover-btn {
    background-color: $hero-foreground-color;
    min-width: 210px;
    width: 40%;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
    font-size: 1.7em;
    &:hover {
      background-color: $button-hover-background !important;
    }
  }
}
