@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.hero {
  max-width: $container-width;
  background: $hero-background;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  animation: move 10s ease infinite;
  background-size: 200% 100% !important;

  // padding: 20px 30px 0 30px;
  border-top: 5px solid $accent-color;
  .header {
    display: flex;
    align-items: center;
    padding: 16px;
    &__logo {
      @include logo;
      border-color: $hero-foreground-color;
      color: $hero-foreground-color;
      &:hover {
        opacity: .5;
      }
    }
    &__btn {
      margin-left: auto;
      background: $button-background;
      &:hover {
        background-color: darken($button-background, 15);
      }
    }
  }
  .about-text {
    padding-top: 10px;
    padding-bottom: 50px;
    font-family: 'Open Sans';
    font-size: 2em;
    font-weight: 300;
    letter-spacing: .8px;
    line-height: 1.35em;
    text-align: center;
    color: $hero-foreground-color;
    max-width: $medium-container-width + 50px;
    margin: 0 auto;
    &__product-name,
    &__amp {
      font-weight: 700;
    }
  }
}
