.hero {
  @include container;
  overflow: hidden;
  border-top: 5px solid $accent-color;
  animation: move 10s ease infinite;
  background-size: 200% 100%;
  background: linear-gradient(45deg, $very-dark-accent-color 10%, $accent-color 90%);
  .header {
    display: flex;
    align-items: center;
    padding: 20px 25px;
    &__logo {
      @include logo;
      border-color: $hero-foreground-color;
      color: $hero-foreground-color;
      &:hover {
        opacity: .5;
      }
    }
    &__submit-btn {
      margin-left: auto;
      background: $button-background;
      &:hover {
        background-color: $button-hover-background !important;
      }
    }
  }
  &__tagline {
    padding-top: 10px;
    padding-bottom: 40px;
    font: $tagline-font;
    letter-spacing: .8px;
    line-height: 1.35em;
    text-align: center;
    color: $hero-foreground-color;
    max-width: 650px;
    margin: 0 auto;
  }
  &__discover-btn {
    background-color: $hero-foreground-color;
    width: 390px;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
    font-size: 1.7em;
    &:hover {
      background-color: $button-hover-background !important;
    }
  }
}
