.main {
  padding: 16px 25px;
  flex-basis: 70%;

  .load-more-btn {
    background-color: darken($button-background, 6);
    width: 100%;
    margin: 0;
    text-transform: none;
    font-weight: normal;
    white-space: normal;
    line-height: 2em;
  }
}
