.main {
  padding: $container-padding;
  flex-basis: 70%;
  .toolbar {
    display: flex;
    background-color: $darker-background-color;
    padding: 8px;
    margin-bottom: 8px;
    &__icon {
      margin-right: 7px;
    }
    &__btn {
      background-color: $button-background;
      padding: 7px 14px;
      font-size: 0.8em;
      &--active {
        background-color: $accent-color;
        color: white;
        &:not([disabled]):hover {
          background-color: $accent-color;
        }
      }
      &:hover {
        background-color: darken($button-background, 15);
      }
    }
  }

  .progress-bar {
    margin-top: 10px;
    margin-bottom: 20px;
    .md-container {
      background-color: lighten($accent-color, 40);
    }
    .md-bar {
      background-color: $accent-color;
    }
  }

  .notification {
    background-color: $darker-background-color;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.85em;
  }

  .tagged-label {
    &__tag {
      @include tag;
      padding: 7px 10px;
      border: 1px darken($tag-bg-color, 6) solid;
    }
    &__tag-count {
      font-weight: 700;
    }
    &__icon {
      margin-right: 5px;
    }
    &__btn {
      background-color: $button-background;
    }
  }
  .screencasts {
    padding-bottom: 15px;
  }
  .screencast {
    border-bottom: 1px solid $divider-color;
    padding: 16px;
    display: flex;
    font-size: .8em;
    align-items: center;
    &:hover {
      background-color: #F9F9F9;
    }
    &__link {
      font-size: 1.2em;
      line-height: 1.8em;
      color: $accent-color;
      font-weight: 700;
    }
    &__channel {
      font-size: 0.9em;
      padding-bottom: 8px;
      line-height: 1.8em;
    }
    &__thumb-wrap {
      margin-right: 16px;
      position: relative;
    }
    &__duration {
      background-color: goldenrod;
      position: absolute;
      right: 5px;
      bottom: 8.5px;
      color: #F8F8F8;
      font-size: 0.9em;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 2px 8px;
    }
    &__thumb {
      padding: 4px;
      border: 1px solid $divider-color;
      width: 196px;
      height: 110px;

    }
    &__tag {
      @include tag;
      line-height: 30px;
      margin-right: 4px;
      &:hover {
        // override hover effect from @include tag.
        background-color: $tag-bg-color !important;
      }
    }
  }
  .load-more-btn {
    background-color: darken($button-background, 6);
    width: 100%;
    margin: 0;
    text-transform: none;
    font-weight: normal;
  }
}
