.main {
  padding: 16px;
  flex-basis: 70%;
  .toolbar {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    &__btn {
      text-transform: none;
      font-weight: normal;
      border-radius: 0;
      margin: 0;
      background-color: darken($color-white, 2%);
      margin-right: -4px;
      &>md-icon {
        margin-right: 7px;;
      }
      &--active {
        cursor: not-allowed;
        background-color: $color-accent;
        color: white;
      }
    }
  }
  .screencasts {
    padding-bottom: 15px;
  }
  .screencast {
    border-bottom: 1px solid #eceef1;
    padding: 16px 0;
    &__link {
      font-size: 1.2em;
      font-weight: 400;
      color: #121821;
      display: block;
      padding-bottom: 8px;
      &:visited {
        color: #828b98;
      }
    }
    &__tag {
      margin: 0;
      font-size: 0.7em;
      padding: 0;
      min-height: auto;
      height: auto;
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
    }
  }
  .load-more-btn {
    background-color: #e7e7e7;
    width: 100%;
    margin: 0;
    text-transform: none;
    font-weight: normal;
  }
}
