.main {
  padding: 16px 25px;
  flex-basis: 70%;
  .toolbar {
    display: flex;
    background-color: $darker-background-color;
    padding: 8px;
    margin-bottom: 8px;
    @media only screen and (max-width: 450px) {
      justify-content: center;
    }
    &__icon {
      margin-right: 7px;
    }
    &__btn {
      background-color: $button-background;
      padding: 7px 14px;
      font-size: 0.8em;
      &--active {
        background-color: $accent-color;
        color: white;
        &:not([disabled]):hover {
          background-color: $accent-color;
        }
      }

      &:hover {
        transition: background-color $transition-duration ease;
        background-color: darken($button-background, 15);
      }
    }
  }

  .progress-bar {
    margin-top: 10px;
    margin-bottom: 20px;
    .md-container {
      background-color: lighten($accent-color, 40);
    }
    .md-bar {
      background-color: $accent-color;
    }
  }

  .notification {
    background-color: $darker-background-color;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.85em;
    margin: 16px 0;
  }

  .tagged-label {
    &__tag {
      background-color: $button-background;
      padding: 3px 5px;
    }
    &__tag-count {
      font-weight: 700;
    }
    &__icon {
      margin-right: 5px;
    }
    &__btn {
      background-color: $button-background;
    }
  }
  .screencasts {
    padding-bottom: 15px;
  }
  .screencast {
    border-bottom: 1px solid $divider-color;
    display: flex;
    padding: 20px 10px;
    font-size: .8em;
    align-items: center;
    transition: background-color $transition-duration;
    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }
    &--featured {
      background-color: #F8F8F8;
    }
    &__featured-annotation {
      font-size: 0.9em;
      display: block;
      font-style: italic;
    }
    &__featured-icon {
      width: 14px;
      height: 14px;
      background-color: lighten($accent-color, 10%);
      color: white;
    }
    &__link {
      font-size: 1.21em;
      line-height: 1.5em;
      color: darken($dark-accent-color, 7%);
      &:hover {
        text-decoration: underline;
      }
    }
    &__channel {
      font-size: 0.9em;
      line-height: 1.8em;
      padding-bottom: 2px;
    }
    &__channel-link {
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
    &__description {
      padding-bottom: 8px;
      @media only screen and (max-width: 200px) {
        display: none;
      }
    }
    &__thumb-wrap {
      margin-right: 16px;
      position: relative;
      min-width: 196px;
      align-self: flex-start;
      @media only screen and (max-width: 850px) {
        margin-bottom: 15px;
      }
    }
    &__info {
      width: 100%;
    }
    &__duration {
      background-color: goldenrod;
      position: absolute;
      right: 0px;
      bottom: 4px;
      color: #F8F8F8;
      font-size: 0.9em;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 2px 8px;
    }
    &__thumb {
      width: 196px;
      height: 110px;
    }
    &__tag {
      @include tag;
      line-height: 30px;
      margin-right: 4px;
      padding: 0;
      font-size: 0.9em;
      padding: 2px 9px;
      &:hover {
        // override hover effect from @include tag.
        background-color: $tag-bg-color !important;
      }
    }
  }
  .load-more-btn {
    background-color: darken($button-background, 6);
    width: 100%;
    margin: 0;
    text-transform: none;
    font-weight: normal;
    white-space: normal;
    line-height: 2em;
  }
}
