.menu {
  flex-basis: 30%;
  border-left: 1px $divider-color solid;
  display: flex;
  flex-direction: column;
  &__burger {
    fill: white;
    background-color: $accent-color;
    width: 100%;
    padding: 10px 0;
    display: none;
    @media only screen and (max-width: 670px) {
      display: block;
    }
  }

  &__inner {
    flex: 1;
    padding: $container-padding;
    &.visible {
      display: block;
    }
    @media only screen and (max-width: 670px) {
      display: none;
      background-color: lighten($accent-color, 20%);
    }
  }
  .tag-list {
    display: flex;
    flex-flow: wrap;
    padding-bottom: 16px;
    &__tag {
      @include tag;
      flex-grow: 1;
      margin-right: 4px;
      margin-bottom: 4px;
    }
  }
  .nav {
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    &__btn {
      text-align: left;
      font-size: 0.875em;
      border-bottom: 1px solid $divider-color;
      &:last-child {
        border: none;
      }
    }
  }
  &__scroll-top-btn {
    background-color: darken($button-background, 6);
    margin: $container-padding;
    margin-left: auto;
    @media only screen and (max-width: 670px) {
      display: none;
    }
  }
}
