.menu {
  flex-basis: 30%;
  padding: 16px;
  border-right: 1px $color-gray solid;
  &__heading {
    color: black;
    font-weight:400;
    padding-bottom: 10px;
    font-size: 1.1em;
  }
  .tag-list {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 16px;
    &__tag {
      @include tag;
      flex: 1 0 auto;
      margin: 0;
      margin-right: 4px;
      margin-bottom: 4px;
    }
  }
  .nav {
    padding-bottom: 16px;
    &__btn {
      display: block;
      width: 100%;
      text-align: left;
      padding: 0;
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      text-transform: none;
    }
  }
}
