.submit {

  &__heading {
    margin-bottom: 16px;
    font-size: 1.6em;
  }

  &__link {
    font-weight: 700;
    &:hover {
      // move to global?
      color: $accent-color;
    }
  }

  .error {
    background-color: #E57373;
    &__text {
      padding: 15px 20px;
    }
  }

  &__btn {
  }

}
