.toolbar {
  display: flex;
  background-color: $darker-background-color;
  padding: 8px;
  margin-bottom: 8px;
  @include mobile {
    justify-content: center;
  }
  &__btn {
    background-color: $button-background;
    padding: 7px 14px;
    font-size: 0.8em;
    &--active {
      background-color: $accent-color;
      color: white;
      &:not([disabled]):hover {
        background-color: $accent-color;
      }
    }
    &:hover {
      transition: background-color $transition-duration ease;
      background-color: darken($button-background, 15);
    }
  }
  &__input {
    transition: width 0.2s ease;
    margin-left: auto;
    font-size: 0.8em;
    background-color: $button-background;
    border: none;
    padding: 8px;
    width: 190px;
    &:focus {
      width: 250px;
    }
  }
}
