.tag-cloud-tag {
  background-color: $primary-color-light;
  color: $primary-text-color;
  border-bottom: 3px solid $primary-color-dark;
  padding: 8px;
  margin-right: 2px;
  margin-bottom: 6px;
}

.main {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
}

.main-nav {
  float: left;
  background-color: white;
  width: 30%;
  padding: 15px;
  border-radius: 2px;
}

.main-content {
  width: 69%;
  margin-left: 1%;
  background-color: white;
  padding: 15px;
  float: left;
  border-radius: 2px;
}

.sort-buttons {
  margin-bottom: 20px;
}

.sort-button {
  border: none;
  background: none;
  background-color: #F9F9F9;
  padding: 10px;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  margin-right: 5px;
  color: $primary-color-dark;
}

.sort-button .fa {
  margin-right: 5px;
  color: $primary-color-dark;
}

.sort-button--active {
  background-color: $primary-color;
  color: white;
}

.sort-button--active .fa {
  color: white;
}

.load-more-button {
  border: none;
  background: none;
  padding: 10px;
  font-size: inherit;
  font-family: inherit;
  background-color: $primary-color;
  color: white;
  font-size: 17px;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
}

.load-more-button:disabled {
  cursor: not-allowed;
  background-color: #F2F2F2;
}

.screencasts {
  margin: 15px 0;
}

.screencasts-screencast {
  border-top: 1px solid #eceef1;
  padding: 10px 0;
}

.screencasts-screencast a {
  color: $primary-text-color;
  font-size: 20px;
}
