extends base

block vars
  - var title = "About"

block body
  h2 About

  P Video Hub is the place to find new programming screencasts on YouTube. 
  p It was coded in a weekend by <a href="">Alex Booker</a> and is completely free and open source! If you want to support open-source software please become a <a href="">GitHub Stargazer</a>!