block vars
doctype html
html
  head
    title Video Hub | #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/main.css')
    link(rel='stylesheet', href='https://bootswatch.com/lumen/bootstrap.min.css')
    block styles
  body
    .navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Video Hub
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Learn 
                span.caret
              ul.dropdown-menu
                if technologies
                  each technology in technologies
                    li
                      a(href='/technologies/#{technology.technologyName}')=technology.technologyName
            li
              a(href='/channels') Channels
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/submit')
                i.fa.fa-plus
                | Submit
    .container
      block body
    
    footer.footer
      div.container
        div.row
          div.col-md-6
            h3 Links
            ul
              li 
                a(href="/terms") Terms of service
              li
                a(href="/about") About
          div.col-md-5
            h3 Social
            ul
              li 
                a(href="https://twitter.com/screencasthub") @screencast-hub on Twitter
              li 
                a(href="/") @alexbooker/screencast-hub on GitHub

        p Made in the United Kingdom by <a href="/">Alex Booker</a>.

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    block scripts