extends base

block vars
  - var title = "Home"

block body
  table.table
    thead
      tr
        th Title
        th Channel
    tbody
      each video in videos
        tr
          td 
            a(href="videos/#{video.videoId}") #{video.title}
          td #{video.channelName}