extends base

block vars
  - var title = "Home"

block body

  
  .jumbotron
    h1 Video Hub
    p Video Hub is the place to find new programming screencasts on <a href="youtube.com">YouTube</a>. Have a gander and learn something new or <a href="/submit">submit</a> your own screencast.
  
  include partials/tables
