extends base

block vars
  - var title = "Submit"

block styles
  link(rel='stylesheet', href='/components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css')
  link(rel='stylesheet', href='/css/submit.css')
    
block scripts
  script(src='/components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js')
  script(src='/components/typeahead.js/dist/typeahead.bundle.min.js')
  script(src='/components/jquery-validation/dist/jquery.validate.min.js')
  script(src='/js/submit.js')

block body
  h2 Submit video
  
  if errors
    .alert.alert-danger
      button.close(data-dismiss="alert")
        span &times;
      ul
        for error in errors
          li!= error.msg

  form(method="post")
    .form-group
      label Video link
      input.form-control#url(
        type="text", 
        name="url", 
        pattern="^(https?\:\/\/)?(www\.)?(youtube\.com|youtu\.?be)\/.+$", 
        required)
    .form-group
      label Video title
      input.form-control#title(type="text", readonly)
    .form-group
      label Video description
      textarea.form-control#description(type="text", readonly)
    .form-group
      label Channel name
      input.form-control#channelName(type="text", readonly)
    .form-group
      label Technologies (comma seperated, max of two)
      input.form-control#technologies(type="text", name="technologies", data-role="tagsinput")
    button.btn.btn-default(type="Submit") Submit video