extends base

block vars
  - var title = "About"

block body

  P PLEASE NOTE THAT YOUR USE OF AND ACCESS TO OUR SERVICES (DEFINED BELOW) ARE SUBJECT TO THE FOLLOWING TERMS; IF YOU DO NOT AGREE TO ALL OF THE FOLLOWING, YOU MAY NOT USE OR ACCESS THE SERVICES IN ANY MANNER.

  h3 Will these terms ever change?
  p Meh next level Portland, meditation shabby chic hoodie lo-fi disrupt lomo aesthetic. Tofu forage tousled, yr retro locavore cornhole Carles. YOLO Schlitz biodiesel deep v, lumbersexual salvia letterpress food truck chambray fashion axe. Twee leggings banh mi, listicle tote bag Williamsburg mlkshk cronut. Cred freegan shabby chic cliche, viral hoodie Pitchfork Portland stumptown irony mlkshk 8-bit swag Wes Anderson bespoke. Letterpress kogi fixie XOXO asymmetrical lumbersexual. Intelligentsia Odd Future polaroid messenger bag PBR&B, craft beer listicle art party blog trust fund Portland fashion axe 3 wolf moon Bushwick.

  h3 What about my privacy?
  p Art party lumbersexual mixtape American Apparel four loko twee. Plaid listicle small batch, farm-to-table ethical tousled bespoke paleo viral seitan fixie YOLO. Before they sold out gastropub raw denim, twee tote bag selfies wayfarers. Fingerstache 8-bit sriracha, hoodie Thundercats keffiyeh shabby chic heirloom tilde brunch PBR&B scenester Brooklyn. Biodiesel cronut normcore butcher four loko. Lomo viral plaid bicycle rights literally raw denim biodiesel, twee shabby chic PBR&B farm-to-table heirloom Marfa. Roof party Austin four loko, sartorial keytar actually raw denim vinyl synth hoodie biodiesel.

  h3 What are the basics of using Video Hub?
  p Selvage tofu Kickstarter put a bird on it, Brooklyn Wes Anderson Odd Future beard paleo. American Apparel Neutra Odd Future food truck semiotics YOLO narwhal, 3 wolf moon roof party heirloom forage sustainable quinoa post-ironic High Life. Four dollar toast tousled readymade meditation fixie. Selfies Marfa 8-bit, master cleanse organic Kickstarter keffiyeh. Skateboard readymade health goth, retro lo-fi heirloom fashion axe gastropub locavore +1 selfies. Sartorial cold-pressed actually freegan put a bird on it. Pinterest tofu Kickstarter seitan, artisan bitters Etsy.
  p Sustainable yr chia, keffiyeh vinyl Austin pop-up pour-over authentic flannel PBR&B gastropub tofu Portland American Apparel. Disrupt PBR distillery letterpress. Vice gentrify brunch, chia disrupt Odd Future keytar YOLO drinking vinegar. Meggings biodiesel crucifix, seitan jean shorts American Apparel PBR&B Portland. Hoodie narwhal occupy locavore vinyl. Godard iPhone fap, small batch art party bespoke occupy semiotics Pitchfork master cleanse VHS lomo raw denim. Thundercats salvia lomo, street art pug bespoke lumbersexual PBR freegan Neutra.

  h3 What if I see something on the Services that infringes my copyright?
  p Echo Park 3 wolf moon food truck Wes Anderson. Bushwick Intelligentsia Brooklyn paleo. Jean shorts McSweeney's fanny pack, +1 lumbersexual messenger bag gastropub art party butcher Intelligentsia photo booth PBR&B next level tote bag keytar. Sartorial freegan scenester disrupt fingerstache 8-bit. Kickstarter put a bird on it flannel heirloom cornhole. Narwhal mumblecore mixtape, tilde hella viral bespoke Williamsburg. Fashion axe Intelligentsia Odd Future deep v fingerstache keffiyeh, cold-pressed pork belly ennui Wes Anderson VHS XOXO normcore.

  h3 Does Video Hub cost anything?
  p Lomo Echo Park butcher fashion axe actually. Blog asymmetrical kale chips, fap readymade cray mumblecore Truffaut. Wes Anderson XOXO fap tousled. Paleo skateboard irony cronut church-key. Craft beer banh mi fingerstache irony. Wayfarers occupy chia flexitarian, tousled stumptown Godard you probably haven't heard of them High Life forage. Tilde authentic deep v, meggings brunch paleo listicle organic.