.section {
  margin-bottom: 50px;
}

i {
  margin-right: 10px;
}

.technology-label {
  float: right;
}

a:hover .technology-label {
  background-color: black;
}

footer {
  background-color: #f8f8f7;
  padding: 35px 0;
  margin-top: 20px;
}

.jumbotron {
  position: relative;
  display: none;
}

button.close {
  top: 18px;
  right: 18px;
  position: absolute;
  color: #999999;
}
button.close:hover {
  color: black;
}