footer {
  background-color: #f8f8f7;
  padding: 35px 0;
  margin-top: 20px;
}
.section {
  margin-bottom: 50px;
}
i {
  margin-right: 10px;
}

.bootstrap-tagsinput {
  width: 100%;
}

.bootstrap-tagsinput .label {
  font-size: 14px;
.}

.technology-label {
  float: right;
}

a:hover .technology-label {
  background-color: black;
}