<div class="screencasts1">
  <div class="toolbar">
    <div ng-show="!searchQuery" class="toolbar__btn-group">
      <button ui-sref-active="toolbar__btn--active" ui-sref="{sort:'popular'}" class="toolbar__btn">
        <md-icon class="toolbar__icon material-icons">
          <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z" />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
        </md-icon>Popular
        <md-tooltip>
          Find what screencasts the community is most excited about today.
        </md-tooltip>
      </button>

      <button ui-sref-active="toolbar__btn--active" ui-sref="{sort:'new'}" class="toolbar__btn">
        <md-icon class="toolbar__icon material-icons">
          <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 17.01V10h-2v7.01h-3L15 21l4-3.99h-3zM9 3L5 6.99h3V14h2V6.99h3L9 3z" />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
        </md-icon>New
        <md-tooltip>
          Find the most recently submitted screencasts.
        </md-tooltip>
      </button>
    </div>
    <input class="toolbar__input" type="text" placeholder="Search Community Casts" ng-model="searchQuery" ng-change="search()" ng-model-options="{ debounce: 600 }">
  </div>

  <div class="screencasts1__filter-caption" ng-show="screencastsLoaded && searchQuery">
    <p ng-show="screencasts.length > 0">
      <strong>{{screencasts.length}}</strong> search results for
      <strong>"{{searchQuery}}"</strong>
    </p>
    <p ng-show="screencasts.length === 0">
      Sorry we didn't find any results for
      <strong>{{searchQuery}}</strong>
    </p>
    <md-button ui-sref="home({sort:'popular',tagged:''})" ui-sref-opts="{reload:true}">
      <md-icon>
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </md-icon>
      Remove Filter
    </md-button>
  </div>

  <div class="screencasts1__filter-caption" ng-show="screencastsLoaded &&
    tagged">
    <p>
      Showing
      <strong>{{screencasts.length}}</strong> screencasts with the
      <strong>{{tagged}}</strong> tag...
    </p>
    <md-button ui-sref="home({sort:'popular',tagged:''})">
      <md-icon>
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </md-icon>
      Remove Filter
    </md-button>
  </div>

  <div ng-show="screencastsLoaded">
    <div class="advert advert--twitter">
      <p class="advert__desc">
        Follow Community Casts on Twitter for the latest screencasts.
      </p>
      <md-button href="https://twitter.com/communitycasts_" class="md-raised advert__btn">
        <md-icon>
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="#00aced" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z"
            />
          </svg>
        </md-icon>
        @CommunityCasts_
      </md-button>
    </div>
  </div>
  <div class="screencast" ng-repeat="screencast in screencasts">

    <div class="thumbnail">
      <a ng-click="renderScreencast(screencast.screencastId)">
        <img class="thumbnail__img" src="https://i.ytimg.com/vi/{{screencast.screencastId}}/mqdefault.jpg" alt="{{screencast.title}}" />
      </a>
      <span class="thumbnail__caption">
        {{screencast.duration}}
      </span>
    </div>
    <div>
      <span class="screencast__featured-annotation" ng-show="screencast.featured">
        <md-icon class="screencast__featured-icon">
          <svg height="14" viewBox="0 0 18 18" width="14" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z" />
            <path d="M0 0h18v18H0z" fill="none" />
          </svg>
        </md-icon>
        Featured screencast
      </span>
      <a ng-click="renderScreencast(screencast.screencastId)" class="screencast__link">
          {{screencast.title}}</a>
      <p class="screencast__channel">
        by
        <a class="screencast__channel-link" href="https://youtube.com/channel/{{screencast.channel.channelId}}">
            {{screencast.channel.channelName}}
          </a>
      </p>
      <p class="screencast__description">{{screencast.description}}</p>
      <div>
        <button class="screencast-tag" ui-sref="tagged({tagged:tag,sort:'popular'})" ng-repeat="tag in screencast.tags">{{tag}}</button>
      </div>
    </div>
  </div>
</div>
<md-progress-linear ng-show="loadingScreencasts" class="progress-bar" md-mode="indeterminate"></md-progress-linear>
<md-button class="load-more-btn" ng-click="fetchNextPage()" ng-disabled="!screencastsLoaded || !moreScreencastsToLoad">Load More Results</md-button>

<!--< md-button class="load-more-btn" ng-click="fetchScreencasts()" ng-disabled="busy || !hasMore">
    <md-icon>
      <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
        <path d="M0-.75h24v24H0z" fill="none"/>
      </svg>
    </md-icon>
    {{loadBtnText}}
  </md-button> -->
</div>
