<div class="screencasts1">

  <div class="toolbar">
    <div class="toolbar__btn-group">
      <button ui-sref-active="toolbar__btn--active" ui-sref="{sort:'popular'}" class="toolbar__btn">
        <md-icon class="toolbar__icon material-icons">
          <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </md-icon>Popular
        <md-tooltip>
          Find what screencasts the community is most excited about today.
        </md-tooltip>
      </button>
      <button ui-sref-active="toolbar__btn--active" ui-sref="{sort:'newest'}" class="toolbar__btn">
        <md-icon class="toolbar__icon material-icons">
          <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 17.01V10h-2v7.01h-3L15 21l4-3.99h-3zM9 3L5 6.99h3V14h2V6.99h3L9 3z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </md-icon>Newest
        <md-tooltip>
          Find the most recently submitted screencasts.
        </md-tooltip>
      </button>
    </div>
    <input
      class="toolbar__input"
      type="text"
      placeholder="Search Community Casts"
      ng-model="searchQuery"
      ng-change="search()"
      ng-model-options="{ debounce: 600 }">
  </div>

  <div class="screencasts1__filter-caption" ng-show="loaded && searchQuery">
    <p ng-show="screencasts.length > 0">
      Showing {{screencasts.length}} of <strong>{{totalCount}}</strong> screencasts whose titles contain <strong>{{searchQuery}}</strong>...
    </p>
    <p ng-show="screencasts.length === 0">
      No screencasts with the text <strong>{{searchQuery}}</strong> in their titles...
    </p>
  </div>

  <div class="screencasts1__filter-caption" ng-show="loaded && tagged">
    <p>
      Showing <strong>{{totalCount}}</strong> screencasts with the <strong>{{tagged}}</strong> tag...
    </p>
    <md-button ui-sref="home({sort:'popular',tagged:''})">
      <md-icon>
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </md-icon>
      Remove Filter
    </md-button>
  </div>

  <div ng-show="loaded">
    <div class="screencast" ng-repeat="screencast in screencasts">
      <div class="thumbnail">
        <a href="{{screencast.href}}">
          <img class="thumbnail__img" src="https://i.ytimg.com/vi/{{screencast.screencastId}}/mqdefault.jpg" alt="{{screencast.title}}" />
        </a>
        <span class="thumbnail__caption">
          {{screencast.duration}}
        </span>
      </div>
      <div>
        <span class="screencast__featured-annotation" ng-show="screencast.featured">
          <md-icon class="screencast__featured-icon">
            <svg height="14" viewBox="0 0 18 18" width="14" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z"/>
              <path d="M0 0h18v18H0z" fill="none"/>
            </svg>
          </md-icon>
          Featured screencast
        </span>
        <a class="screencast__link" href="{{screencast.href}}" target="_blank">{{screencast.title}}</a>
        <p class="screencast__channel">
          by
          <a class="screencast__channel-link" href="https://youtube.com/channel/{{screencast.channel.channelId}}">
            {{screencast.channel.channelName}}
          </a>
        </p>
        <p class="screencast__description">{{screencast.description}}</p>
        <div>
          <button class="screencast__tag" ui-sref="tagged({tagged:tag,sort:'popular'})" ng-repeat="tag in screencast.tags">{{tag}}</button>
        </div>
      </div>
    </div>
  </div>
  <md-progress-linear ng-show="busy" class="progress-bar" md-mode="indeterminate"></md-progress-linear>
  <md-button class="load-more-btn" ng-click="fetchScreencasts()" ng-disabled="busy || !hasMore">
    <md-icon>
      <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
        <path d="M0-.75h24v24H0z" fill="none"/>
      </svg>
    </md-icon>
    {{loadBtnText}}
  </md-button>
</div>
