extends base

block vars
  - var title = 'About'
block body
  h1 About

  p Community Casts is the place for developers of all levels to find <strong>awesome</strong> and <strong>free</strong> educational screencasts. You can view the newest or most popular screencasts on the <a href="/">home page</a> and screencasts about a specific technology by clicking on the menu item entitled "Learn". The "Learn" menu item shows the 9 most popular tags. For less common tags, see <a href="/">other</a>. 

  p Community Casts is developed by <a href="">Booker</a>. In the spirit of education, it is <strong>open source</strong>. It was built using the following awesome technologies:

  p Contributions are more than welcome. If you find an issue with the website, please open an issue. You can also feel free to support the project by becoming a <a href="https://github.com/alexbooker/wwwatch/stargazers">Stargazer</a>.
