extends base

block vars
  - var title = 'About'
block body
  h1 About

  p Community Casts is the place for developers of all levels to find <strong>awesome</strong> and <strong>free</strong> educational screencasts about code. It was built by <a href="">Booker</a> and is totally <a href="https://github.com/alexbooker/community-casts">open source</a>.


  p You can view the newest or most popular screencast links on the <a href="/">home page</a> and screencasts about a specific technology by clicking on the menu item entitled "Learn". The "Learn" menu item will show you the 9 most popular technologies from which to choose. If you want to learn about less popular technologies, see the drop-down menu item entitled "Other".
  

  p If you made a screencast, or found one that you really like, please share it with the community by pressing the "Submit" menu item. Please refer to the submission guidelines below first, though.


  h3 Submission Guidelines
  

  .row
    .col-md-6
      p Please do: 
      ul
        li.text-success Submit screencasts relating to code
        li.text-success Submit screencasts, webcasts, or conference videos - we do not mind so long as they are good!
        li.text-success Submit your own or someone elses video
        li.text-success Tag videos appropiately
    .col-md-6  
      p Please do not: 
      ul 
        li.text-danger Bombard us with screencasts from a series of screencasts
        li.text-danger Submit videos that have nothing to do with code

  h3 Built with

  p We love open source. Community Casts was built using the following open source frameworks and libraries:
  .row
    .col-md-6
      h4 Server
      li Node
      li Jade
      li Express
      li Express Flash
      li Express Session
      li Express Validator
      li Express Body Parser
      li Moment
      li Winston
      li Request
      li MySQL
    .col-md-6
      h4 Client
      li Bootstrap
      li Bootswatch
      li Bootstrap Table
      li jQuery
      li jQuery UI
      li jQuery Cookie
      li jQuery Validation
      li Font Awesome