extends base

block vars
  - var title = "Submit screencast"

block styles
  link(rel='stylesheet', href='/components/jquery-ui/themes/smoothness/jquery-ui.min.css')

block scripts
  script(src='/components/jquery-ui/jquery-ui.min.js')
  script(src='/components/jquery-validation/dist/jquery.validate.min.js')
  script(src='/components/jquery-validation/dist/additional-methods.min.js')
  script(src='/js/submit.js')

block body
  h2 Submit a screencast

  if messages.success
    .alert.alert-success
      button.close(data-dismiss="alert")
        span &times;
      p=messages.success

  if messages.errors
    .alert.alert-danger
      button.close(data-dismiss="alert")
        span &times;
      ul
        for error in messages.errors
          li!= error

  form#submitForm(method="post")
    .form-group
      label Screencast link
      input.form-control#url(type="text", name="url")
    .form-group
      label Screencast title
      input.form-control#title(type="text", readonly, tabindex="-1")
    .form-group
      label Screencast description
      textarea.form-control#description(type="text", readonly, tabindex="-1")
    .form-group
      label Channel name
      input.form-control#channelName(type="text", readonly, tabindex="-1")
    .form-group
      label Tags (comma separated, max of two)
      input.form-control#tags-input(type="text", name="tags")
      ul.tag-list#tag-list
    button.btn.btn-primary(type="Submit") Submit screencast
