<div class="about">
  <h1 class="about__logo">Community Casts</h1>
  <p class="about__paragraph">
    <span class="about__foo">$ ~</span> Community Casts is <em>the</em> place for developers and designers of all skill levels to find awesome, free educational screencasts about technology and design. It was built by <a class="about__link" href="https://twitter.com/bookercodes">Alex Booker</a> and is 100% <a class="about__link" href="https://github.com/alexbooker/communitycasts.co">open source</a>.
  </p>
  <h1 class="about__heading">Open Source</h1>
  <p class="about__paragraph">
    <span class="about__foo">$ ~</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque non totam facere, eos, vero repellendus temporibus debitis minus, corporis inventore fugiat perspiciatis blanditiis illum in placeat eveniet atque. Esse, pariatur.
  </p>
</div>
