  <header class="header">
    <h1 class="header__logo">Community Casts</h1>
    <md-button class="header__btn" ng-click="showAddAlert()">
      <md-icon>playlist_add</md-icon>
      Submit
      <md-tooltip>
        Submit screencast
      </md-tooltip>
    </md-button>
  </header>
  <p class="about-text">
    <span class="about-text__product-name">Community Casts</span> is the place to find free, educational tech <span class="about-text__amp">&amp;</span> creative screencasts by the community.
  </p>
