<div class="toolbar">
  <md-button ng-disabled="true" class="toolbar__btn toolbar__btn--active"><md-icon>trending_up</md-icon>Popular</md-button>
  <md-button class="toolbar__btn"><md-icon>swap_vert</md-icon>Latest</md-button>
</div>
<div class="screencasts">
  <div class="screencast">
    <a class="screencast__link" href="">C# 6.0: An Introduction</a>
    <div class="screencast__info">
      <div>
        <md-button md-no-ink class="screencast__tag tag">C#</md-button>
        <md-button md-no-ink class="screencast__tag tag">C# 6.0</md-button>
        <md-button md-no-ink class="screencast__tag tag">Beginner Programming</md-button>
      </div>
      <div>
        <span class="channel">
          <md-icon>person</md-icon><a class="channel__link">Code Cast</a>
        </span>
        <span class="screencast__channel">
          <md-icon>timer</md-icon>10.12
        </span>
      </div>
    </div>
  </div>
</div>
<md-button class="load-more-btn">Load More</md-button>
