<div class="toolbar">
  <button ui-sref-active="toolbar__btn--active" ui-sref="{sort:'popular'}" class="toolbar__btn">
    <md-icon class="toolbar__icon material-icons">trending_up</md-icon>Popular
    <md-tooltip>
      Find what screencasts the community is most excited about today.
    </md-tooltip>
  </button>
  <button ui-sref-active="toolbar__btn--active" ui-sref="{sort:'newest'}" class="toolbar__btn">
    <md-icon class="toolbar__icon material-icons">swap_vert</md-icon>Newest
    <md-tooltip>
      Find the most recently submitted screencasts.
    </md-tooltip>
  </button>
</div>

<div ng-show="loaded && tagged" class="notification">
  <p class="tagged-label">
    Showing <span class="tagged-label__tag-count">{{totalCount}}</span> screencasts with the <span class="tagged-label__tag">{{tagged}}</span> tag...
  </p>
  <md-button class="tagged-label__btn" ui-sref="home({sort:'popular',tagged:''})">
    <md-icon class="tagged-label__icon material-icons">close</md-icon>Remove Filter
  </md-button>
</div>

<div class="screencasts" ng-show="loaded">
  <a href="{{screencast.href}}" class="screencast" ng-repeat="screencast in screencasts">


    <div class="screencast__thumb-wrap">
      <img class="screencast__thumb" src="{{screencast.thumbUrl}}" alt="" />
      <span class="screencast__duration">
        {{screencast.duration}}
      </span>
    </div>

    <div class="screencast__info" >
      <h4 class="screencast__link">{{screencast.title}}</h4>
      <p class="screencast__channel">by {{screencast.channel.channelName}}</p>
      <div>
        <md-button md-no-ink class="screencast__tag tag" ng-repeat="tag in screencast.tags">{{tag}}</md-button>
      </div>
    </div>
  </a>
</div>
<md-progress-linear ng-show="busy" class="progress-bar" md-mode="indeterminate"></md-progress-linear>
<md-button class="load-more-btn" ng-click="fetchScreencasts()" ng-disabled="busy || !hasMore">Load More</md-button>
