<div class="toolbar">
  <button ui-sref-active="toolbar__btn--active" ui-sref="{sort:'popular'}" class="toolbar__btn">
    <md-icon>trending_up</md-icon>Popular
    <md-tooltip>
      Find what screencasts the community is most excited about today.
    </md-tooltip>
  </button>
  <button ui-sref-active="toolbar__btn--active" ui-sref="{sort:'newest'}" class="toolbar__btn">
    <md-icon>swap_vert</md-icon>Newest
    <md-tooltip>
      Find the most recently submitted screencasts.
    </md-tooltip>
  </button>
</div>

<div ng-show="loaded && tagged" class="notification">
  <p class="tagged-label">
    Showing <span class="tagged-label__tag-count">{{totalCount}}</span> screencasts with the <span class="tagged-label__tag">{{tagged}}</span> tag...
  </p>
  <md-button class="tagged-label__btn" ui-sref="home({sort:'popular',tagged:''})">
    <md-icon>close</md-icon>Remove Filter
  </md-button>
</div>

<md-list class="screencasts" ng-show="loaded">
  <md-list-item ng-click="navigateTo(screencast.href)" class="screencast" ng-repeat="screencast in screencasts">
    <img class="screencast__thumb" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Thumb&w=196&h=110" width="196" height="110" alt="" />
    <div class="screencast__info" >
      <h4 class="screencast__link">{{screencast.title}}</h4>
      <p class="screencast__channel">by {{screencast.channel.channelName}}</p>
      <div>
        <md-button md-no-ink class="screencast__tag tag" ng-repeat="tag in screencast.tags">{{tag}}</md-button>
      </div>
    </div>
  </md-list-item>
</md-list>
<md-progress-linear ng-show="busy" class="progress-linear" md-mode="indeterminate"></md-progress-linear>
<md-button class="load-more-btn" ng-click="fetchScreencasts()" ng-disabled="busy || !hasMore">Load More</md-button>
