<div class="submit">
  <h1 class="submit__heading">Submit</h1>

  <form name="screencastForm" novalidate ng-submit="submit()">

    <md-input-container>
      <label>YouTube Url:</label>
      <input type="text" name="url" required youtube-url ng-model="screencast.url">
      <div ng-messages="screencastForm.url.$error" ng-if="screencastForm.$submitted || screencastForm.url.$touched">
        <p ng-message="required">This field is required, bro.</p>
        <p ng-message="youtubeUrl">Please enter a valid YouTube url.</p>
      </div>
    </md-input-container>

    <md-input-container>
      <label>Tags:</label>
      <input type="text" name="tags" required tags ng-model="screencast.tags">
      <div ng-messages="screencastForm.tags.$error" ng-if="screencastForm.$submitted || screencastForm.tags.$touched">
        <p ng-message="required">This field is required, bro.</p>
        <p ng-message="tooManyTags">You can only specify 5 tags.</p>
      </div>
    </md-input-container>

    <div>
      <md-button class="md-primary">Submit</md-button>
    </div>

  </form>


</div>
