<div class="submit">
  <h1 class="submit__heading">Submit</h1>

  <form name="screencastForm">

    <md-input-container>
      <label>YouTube Url:</label>
      <input type="text" name="url" required youtube-url ng-model="screencast.url">
      <div ng-messages="screencastForm.url.$error" ng-if="screencastForm.url.$touched">
        <p ng-message="required">This field is required, bro.</p>
        <p ng-message="youtubeUrl">Please enter a valid YouTube url.</p>
      </div>
    </md-input-container>
  </form>


</div>
