<h1>About</h1>
<p>
  Community Casts is the place for developers of all levels to find <strong>awesome</strong> and <strong>free</strong> educational screencasts about technology. It was built by <a href="https://github.com/alexbooker">Booker</a> and is totally <a href="https://github.com/alexbooker/community-casts">open source</a>.
</p>

<p>
   <strike>You can view the newest or most popular screencast links on the <a href="/">home page</a> and screencasts about a specific technology by clicking on the menu item entitled "Learn". The "Learn" menu item will show you the 9 most popular technologies from which to choose. If you want to learn about less popular technologies, see the drop-down menu item entitled "Other".</strike>
</p>

<p>
  If you made a screencast, or found one that you really like, please share it with the community by pressing the "Submit" menu item. Please refer to the submission guidelines below first, though.
</p>
