<!-- <select ng-model="sortOption" ng-change="changeSortOption()">
  <option value="today">Today</option>
  <option value="week">Week</option>
  <option value="month">Month</option>
</select> -->

<button class="sort-button"><span class="fa fa-pencil"></span>Latest</button>
<button class="sort-button"><span class="fa fa-heart"></span>Popular</button>

<div ng-show="!loaded">
  <p>Loading...</p>
</div>
<table ng-show="loaded" class="table">
  <tbody>
    <tr ng-repeat="screencast in screencasts">
      <td><img src="https://placeholdit.imgix.net/~text?txtsize=15&txt=Thumb&w=70&h=52" alt="" /></td>
      <td><a href="{{screencast.href}}" target="_blank">{{screencast.title}}</a></td>
      <td>{{screencast.durationInSeconds}}</td>
    </tr>
  </tbody>
</table>
<button class="button" ng-click="fetchScreencasts()" ng-disabled="busy || !hasMore">Load More</button>
