<!-- <select ng-model="sortOption" ng-change="changeSortOption()">
  <option value="today">Today</option>
  <option value="week">Week</option>
  <option value="month">Month</option>
</select> -->

<button>Latest</button>
<button>Popular</button>

<div ng-show="!loaded">
  <p>Loading...</p>
</div>
<table ng-show="loaded">
  <thead>
    <tr>
      <th>Title</th>
      <th>Duration</th>
      <th>Submitted</th>
      <th>Referrals</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="screencast in screencasts">
      <td><a href="{{screencast.href}}" target="_blank">{{screencast.title}}</a></td>
      <td>{{screencast.durationInSeconds}}</td>
      <td>{{screencast.submissionDate}}</td>
      <td>{{screencast.referralCount}}</td>
    </tr>
  </tbody>
</table>
<button ng-click="fetchScreencasts()" ng-disabled="busy || !hasMore">Load More</button>
