<!-- <select ng-model="sortOption" ng-change="changeSortOption()">
  <option value="today">Today</option>
  <option value="week">Week</option>
  <option value="month">Month</option>
</select> -->


<!-- <h2>88 Screencasts for <span class="tags">C#</span></h2> -->

{{sortOption}} <br>
<button class="sort-button sort-button--active" ng-click="sortOption = 'popular'; changeSortOption();"><span class="fa fa-heart"></span>Popular</button>
<button class="sort-button" ng-click="sortOption = 'latest'; changeSortOption();"><span class="fa fa-pencil"></span>Latest</button>

<div ng-show="!loaded">
  <p>Loading...</p>
</div>
<table ng-show="loaded" class="table">
  <tbody>
    <tr ng-repeat="screencast in screencasts">
      <td>

        <a href="{{screencast.href}}" target="_blank" class="screencast-title">{{screencast.title}}</a>
        <ul class="tags">
          <li class="tags__item" ng-repeat="tag in screencast.tags">
            {{tag}}
          </li>
        </ul>
      </td>
      <td>{{screencast.durationInSeconds}}</td>
    </tr>
  </tbody>
</table>
<button class="load-more-button" ng-click="fetchScreencasts()" ng-disabled="busy || !hasMore">Load More</button>
