<div class="main-nav-inner">
  <ul class="navigation-list">
    <li>
      <fa class="fa fa-home"></fa>
      <a ui-sref="home({tagged:'',sort:'popular'})">Home</a>
    </li>
  </ul>
  <h4 class="navigation-title">Browse by tag</h4>
  <ul class="tag-cloud">
    <a ng-repeat="tag in tags | limitTo: tagLimit as results" class="tag-list-link" ui-sref="home({tagged:tag.tagName,sort:'popular'})">{{tag.tagName}}<{{tag.count}}></a>
  </ul>
  <button ng-disabled="results.length === tags.length" ng-click="tagLimit = tagLimit +1">More...</button>
  <!-- Tag cloud -->
  <h4 class="navigation-title">Navigation</h4>
  <ul class="navigation-list">
    <li>
      <fa class="fa fa-info"></fa>
      <a ui-sref="about">About</a>
    </li>
    <li>
      <fa class="fa fa-plus"></fa>
      <a ui-sref="submit">Submit</a>
    </li>
  </ul>
  <h4 class="navigation-title">Social</h4>
  <ul class="navigation-list">
    <li>
      <fa class="fa fa-twitter"></fa>
      <a href="">Twitter</a>
    </li>
    <li>
      <fa class="fa fa-facebook"></fa>
      <a href="">Facebook</a>
    </li>
  </ul>
</div>
<div class="main-nav-footer">
  <p>Made with <span class="fa fa-heart"></span> in the United Kingdom by <a href="https://twitter.com/bookercodes"><em>@bookercodes</em></a></p>
  <p>Source code available on <a href="https://github.com/alexbooker/communitycasts.co"><span class="fa fa-github"></span></a>. Become a <a href="https://github.com/alexbooker/communitycasts.co/stargazers"><span class="fa fa-star"></span>gazer</a>?</p>
</div>
