<!-- <select ng-model="sortOption" ng-change="changeSortOption()">
  <option value="today">Today</option>
  <option value="week">Week</option>
  <option value="month">Month</option>
</select> -->


<!-- <h2>88 Screencasts for <span class="tags">C#</span></h2> -->

<!-- <button class="sort-button" ng-class="{'sort-button--active': sortOption === 'popular'}" ng-click="sortOption = 'popular'; changeSortOption();">
  <span class="fa fa-heart"></span>
  Popular
</button>
<button class="sort-button" ng-class="{'sort-button--active': sortOption === 'latest'}" ng-click="sortOption = 'latest'; changeSortOption();">
  <span class="fa fa-pencil"></span>
  Latest
</button> -->



<div class="sort-buttons">
  <button class="sort-button" ui-sref-active="sort-button--active" ui-sref="{sort:'popular'}">
    <span class="fa fa-heart"></span>
    Popular
  </button>
  <button class="sort-button" ui-sref-active="sort-button--active" ui-sref="{sort:'latest'}">
    <span class="fa fa-pencil"></span>
    Latest
  </button>
</div>


<p ng-show="tagged" class="tagged-text">
  <strong>{{totalCount}}</strong> screencasts for <span class="tag">{{tagged}}</span>
</p>

<div ng-show="!loaded">
  <p>Loading...</p>
</div>

<div ng-show="loaded" class="screencast-summary-list">
  <div class="screencast-summary" ng-repeat="screencast in screencasts">
    <h3 class="screencast-summary-header">
      <a class="screencast-summary-header-link" href="{{screencast.href}}" target="_blank">
      <span ng-show="screencast.hostService === 'Vimeo'" class="vimeo-icon fa fa-vimeo"></span>
      <span ng-show="screencast.hostService === 'YouTube'" class="youtube-icon fa fa-youtube-play"></span>
      {{screencast.title}}
      </a>
    </h3>
    <div class="tag-list">
      <a class="tag-list-link" ui-sref="{tagged:tag}" ng-repeat="tag in screencast.tags">{{tag}}</a>
    </div>
    <div class="screencast-meta">
      <span class="screencast-meta-channel">
        <span class="fa fa-user"></span> An author
      </span>
      <span>
        <span class="fa fa-clock-o"></span> 00.00
      </span>
    </div>
  </div>
</div>

<button class="load-more-button" ng-click="fetchScreencasts()" ng-disabled="busy || !hasMore">Load More</button>
