<!-- <select ng-model="sortOption" ng-change="changeSortOption()">
  <option value="today">Today</option>
  <option value="week">Week</option>
  <option value="month">Month</option>
</select> -->


<!-- <h2>88 Screencasts for <span class="tags">C#</span></h2> -->

<!-- <button class="sort-button" ng-class="{'sort-button--active': sortOption === 'popular'}" ng-click="sortOption = 'popular'; changeSortOption();">
  <span class="fa fa-heart"></span>
  Popular
</button>
<button class="sort-button" ng-class="{'sort-button--active': sortOption === 'latest'}" ng-click="sortOption = 'latest'; changeSortOption();">
  <span class="fa fa-pencil"></span>
  Latest
</button> -->



<button class="sort-button" ui-sref-active="sort-button--active" ui-sref="{sort:'popular'}">
  <span class="fa fa-heart"></span>
  Popular
</button>
<button class="sort-button" ui-sref-active="sort-button--active" ui-sref="{sort:'latest'}">
  <span class="fa fa-pencil"></span>
  Latest
</button>

<p ng-show="tagged" class="tag-cloud-tag">{{tagged}}</p>

<div ng-show="!loaded">
  <p>Loading...</p>
</div>

<div ng-show="loaded" class="screencasts">
  <div class="screencasts-screencast" ng-repeat="screencast in screencasts">
    <a href="{{screencast.href}}" target="_blank" class="screencast-title">{{screencast.title}}</a>
    <ul class="tags">
      <li class="tag-cloud-tag" ng-repeat="tag in screencast.tags">
        <a ui-sref="{tagged:tag}">{{tag}}</a>
      </li>
    </ul>
  </div>
</div>

<button class="load-more-button" ng-click="fetchScreencasts()" ng-disabled="busy || !hasMore">Load More</button>
