<form name="submitForm" novalidate>

  <div>
    <label>Screencast link:</label>
    <input type="text" name="screencastLink" required ng-model="screencastLink">
    <span ng-show="submitForm.screencastLink.$dirty && submitForm.screencastLink.$error.required">Screencast link is required.</span>
  </div>

  <div>
    <label>Tags (comma seperated)</label>
    <input type="text" name="tags" ng-model="tags" required>
    <span ng-show="submitForm.tags.$dirty && submitForm.tags.$error.required">You need to specify at least one tag.</span>
  </div>

  <div>
    <input type="submit" value="Submit" ng-disabled="!submitForm.$valid">
  </div>
</form>
