@mixin tag () {
  background-color: $tag-bg-color;
  color: $tag-color;
  text-transform: none;
  font-size: $tag-font-size;
  font-weight: normal;
  .tag__badge {
    color: lighten($tag-color, 20%);
    font-size: 12px;
    font-weight: 300;
  }
}
