.fa {
  margin-right: 10px;
}

.navbar .tag-count {
  float: right;
}

.navbar a:hover .tag-count {
  background-color: #333333;
}

.jumbotron {
  position: relative;
  display: none;
}

.jumbotron .close {
  top: 18px;
  right: 18px;
  position: absolute;
  color: #999999;
}

footer {
  background-color: #f8f8f7;
  padding: 35px 0;
  margin-top: 20px;
}

.alert-danger a {
  color: white;
  text-decoration: underline;
}

.alert-danger a:hover {
  text-decoration: none;
}

#submitForm .form-control {
  border-radius: 0;
}

#submitForm textarea {
  max-width: 100%;
}

#submitForm .tag-list {
  padding-left: 0;
  margin-top: 12px;
}

#submitForm .tag-list li {
  display: inline;
  list-style: none;
  padding: 0;
  background-color: #E9E9E9;
  margin-right: 10px;
  padding: 5px;
}

#submitForm .tag-list li span {
  margin-right: 5px;
}
