.section {
  margin-bottom: 50px;
}

i {
  margin-right: 10px;
}

.technology-label {
  float: right;
}

a:hover .technology-label {
  background-color: black;
}

footer {
  background-color: #f8f8f7;
  padding: 35px 0;
  margin-top: 20px;
}

.jumbotron {
  position: relative;
  display: none;
}

.banner .close,
.jumbotron .close {
  top: 18px;
  right: 18px;
  position: absolute;
  color: #999999;
}

button.close:hover {
  color: black;
}


.banner {
  background-color: #158cba;
  display: none;
}

.banner-text {
  color: white;
  padding: 15px;
  margin: 0;
}

.banner-text a {
  color: white;
  text-decoration: underline;
}

.banner-info-icon {
  margin-right: 10px;
}

.banner .close {
  color: white;
  font-size: 16px;
  opacity: 1;
}

.banner .close:hover {
  color: white;
}
