
#tags {
  padding-left: 0;
  margin-top: 12px;
}
#tags li {
  display: inline;
  list-style: none;
  padding: 0;
  background-color: #E9E9E9;
  margin-right: 10px;
  padding: 5px;
}

#tags li span {
  margin-right: 5px;
}

textarea {
  min-height: 90px;
  max-width: 100%;
}

.form-control {
  border-radius: 0;
}

.alert a {
  color: white;
  text-decoration: underline;
}

.alert a:hover {
  text-decoration: none;
}

.section {
  margin-bottom: 50px;
}

i {
  margin-right: 10px;
}

.technology-label {
  float: right;
}

a:hover .technology-label {
  background-color: black;
}

footer {
  background-color: #f8f8f7;
  padding: 35px 0;
  margin-top: 20px;
}

.jumbotron {
  position: relative;
  display: none;
}

.banner .close,
.jumbotron .close {
  top: 18px;
  right: 18px;
  position: absolute;
  color: #999999;
}

button.close:hover {
  color: black;
}


.banner {
  background-color: #158cba;
  display: none;
}

.banner-text {
  color: white;
  padding: 15px;
  margin: 0;
}

.banner-text a {
  color: white;
  text-decoration: underline;
}

.banner-info-icon {
  margin-right: 10px;
}

.banner .close {
  color: white;
  font-size: 16px;
  opacity: 1;
}

.banner .close:hover {
  color: white;
}
