*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font: 100%/1.5; }

body {
  font-family: "Roboto", sans-serif; }

.hero {
  max-width: 1200px;
  border-top: 4px tomato solid;
  margin: 0 auto;
  background: url("../img/pattern.png") repeat; }

.header {
  display: flex;
  align-items: center; }

.header__logo {
  font-size: 1.3em;
  font-style: italic;
  color: white;
  border: 3px white solid;
  padding: 10px 15px; }

button.md-raised.header__btn {
  margin-left: auto;
  background-color: tomato; }
