* {
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  background-color: #eceef1; }

ul {
  list-style: none; }

li {
  display: inline-block; }
