* {
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  background-color: #eceef1; }

ul {
  list-style: none; }

li {
  display: inline-block; }

.header {
  background-color: #8BC34A;
  border-top: 5px solid #689F38; }

.header-wrap {
  text-align: justify;
  height: 70px;
  max-width: 1100px;
  margin: 0 auto; }

.header-wrap::after {
  content: '';
  display: inline-block;
  width: 100%; }

.header-logo {
  background-color: #689F38;
  height: 100%;
  border: 3px solid #DCEDC8;
  font-size: 30px;
  color: white;
  padding: 0 15px;
  font-family: "Inconsolata"; }

.header-logo::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.header-logo,
.header-nav {
  display: inline-block;
  vertical-align: middle; }

.header-button-search .fa,
.header-button-submit .fa {
  color: white; }

.header-button-search {
  font-size: 18px;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: #CDDC39;
  border-radius: 2px; }

.header-button-submit {
  font-size: 18px;
  cursor: pointer;
  padding: 0 10px;
  font-family: inherit;
  background: none;
  border: none; }

.tag-cloud-tag {
  background-color: #DCEDC8;
  color: #212121;
  border-bottom: 3px solid #689F38;
  padding: 8px;
  margin-right: 2px;
  margin-bottom: 6px; }

.main {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 20px; }

.main-nav {
  float: left;
  background-color: white;
  width: 30%;
  padding: 15px;
  border-radius: 2px; }

.main-content {
  width: 69%;
  margin-left: 1%;
  background-color: white;
  padding: 15px;
  float: left;
  border-radius: 2px; }

.sort-buttons {
  margin-bottom: 20px; }

.sort-button {
  border: none;
  background: none;
  background-color: #F9F9F9;
  padding: 10px;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  margin-right: 5px;
  color: #689F38; }

.sort-button .fa {
  margin-right: 5px;
  color: #689F38; }

.sort-button--active {
  background-color: #8BC34A;
  color: white; }

.sort-button--active .fa {
  color: white; }

.load-more-button {
  border: none;
  background: none;
  padding: 10px;
  font-size: inherit;
  font-family: inherit;
  background-color: #8BC34A;
  color: white;
  font-size: 17px;
  border-radius: 3px;
  width: 100%;
  cursor: pointer; }

.load-more-button:disabled {
  cursor: not-allowed;
  background-color: #F2F2F2; }

.screencasts {
  margin: 15px 0; }

.screencasts-screencast {
  border-top: 1px solid #eceef1;
  padding: 10px 0; }

.screencast-title {
  color: #212121;
  font-size: 20px; }

.tags {
  margin-top: 10px; }

.tag {
  background-color: #F0F0F0;
  border-radius: 2px;
  padding: 5px 8px;
  display: inline-block;
  margin-right: 10px; }

.tag-cloud .tag {
  display: block;
  margin-top: 2px;
  margin-bottom: 5px;
  width: 150px; }

.navigation-list {
  margin-bottom: 10px; }

.navigation-title {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 13px; }

.navigation-list li {
  display: block; }
